<!DOCTYPE html>
<html>

<!--     
  Do whatever you like and don't look at people's thought and comments! Best will support you and will motivate you in any situation

                                                                    -: RUDRA SHAH
 -->

<head>
    <!-- Primary meta tags for rudraspot -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Rudra Shah, Rushil Shah, Pankti Chawda, Maitree Patel" />
    <meta name="description" content="This is a team blog for OSL Assignment which is written by Rudra Shah, Rushil Shah, Pankti Chawda, Maitree Patel" />
    <meta name="keywords" property="schema:keywords" content="Team blog,
    OSL,
    Assignment,
    Rudra Shah,
    Rushil Shah,
    Pankti Chawda,
    Maitree Patel,
    Students,
    Nirma,
    " />
    <meta name=”robots” content=”index, follow” />
    <meta name="title" content="First Blog! Hello world: Presenting Budding Blog Site">
    <meta name=image content=”https://rudraspot.me/images/b1.jpg” />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
    <link rel="shortcut icon" type='image/x-icon' href="images/icons/fg.ico" />
    <link href='images/icons/favicon-32x32.png' rel='icon' sizes='32x32'/>
    <link href='images/icons/favicon-16x16.png' rel='icon' sizes='16x16'/>
    <link href='images/icons/apple-touch-icon.png' rel='apple-touch-icon' sizes='180x180'/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <title>Brute Force | Team Blog</title>
    <meta name="google-site-verification" content="dnPw_JTFHlZve9Zhos_5WQ0cMbNzEl2kVyj0QcoMeLM" />
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="googlebot" content="index,follow" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/blogpagecss.css">
    <link rel="stylesheet" type="text/css" href="css/owl-carousel.css">
    <link rel="stylesheet" type="text/css" href="css/test.css">
    <meta name="copyright" content="Copyright 2021 rudraspot.me All rights reserved." />
    <meta name="original-source" content="https://rudraspot.me/b1" />
    <link rel="canonical" href="https://rudraspot.me/b1" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://rudraspot.me/b1">
    <meta property="og:title" content="First Blog! Hello world: Presenting Budding Blog Site">
    <meta property="og:description" content="First blog of my life. Not so intresting not so bad, Have a look and judge by yourself. As an Introvert, this is the only way I can
        express my feelings!">
    <meta property="og:image" content="https://rudraspot.me/images/b1.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://rudraspot.me/b1">
    <meta property="twitter:title" content="First Blog! Hello world: Presenting Budding Blog Site">
    <meta property="twitter:description" content="First blog of my life. Not so intresting not so bad, Have a look and judge by yourself. As an Introvert, this is the only way I can
        express my feelings!">
    <meta property="twitter:image" content="https://rudraspot.me/images/b1.jpg">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MCYMW1G0V5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-MCYMW1G0V5');
    </script>

    <script type="text/javascript">
        window._mNHandle = window._mNHandle || {};
        window._mNHandle.queue = window._mNHandle.queue || [];
        medianet_versionId = "3121199";
    </script>
    <script src="https://contextual.media.net/dmedianet.js?cid=8CUD6L3EQ" async="async"></script>

</head>

<body>
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a href="index" class="logo">Brute Force</a>
                        <ul class="nav">
                            <li><a href="/review" class="">Review Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>


    <section class="section" id="about">
        <div class="header-post horizontal-center">
            <div class="inner width-4">
                <div class="row">
                    <h1 class="heading-large" itemprop="headline name">5G: Your Network, Your Net worth.</h1>
                </div>
                <!-- <h6 class="ho6">Article by Brute Force -
                    October 11 <p1 class="tag">Technology</p1>
                </h6> -->


                <div class="trapdoor">
                  <div class="top door">
                    <h6 class="ho6"> Article by Brute Force - October 11 <p1 class="tag">Technology</p1></a></h6>
                  </div>
                  <div class="bottom door">
                  </div>
                  <!-- <h6 href="https://twitter.com/twholman" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="false"> -->
                    <p class="author">Contributed By: Rudra S, Rushil S, Pankti C, Maitree P.</p>
                  <script>
                    ! function(d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0];
                      if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "https://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                      }
                    }(document, "script", "twitter-wjs");
                  </script>
                </div>


            </div>
            <!-- <img src="/Users/rudrashah/Downloads/templatemo_537_art_factory/y/images/b1.jpg" class="img1t"></img> -->
        </div>
    </section>


    <img src="/images/5G_mainImage.webp" class="img1t" alt="Stay Happy by rudraspot"></img>
    <!-- <p1 class="ho6">(Image Source - <a href="https://images.unsplash.com/photo-1501747315-124a0eaca060?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8aGFwcHklMjBzdGFydGluZyUyMHF1b3RlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">unsplash</a>)<p1> -->
    </section>
    <div class="textblog">
        <p1 class="maintext">
          5G is the next buzzword in the field of wireless technology networking. Simply said, it is wireless technology’s fifth generation. The fifth generation of technology is expected to be bigger, faster, and better. 5G architecture is based on a considerably higher next-generation technology plane, with the goal of connecting everything and everyone – people, buildings, cities, sensors, smartphones, robots, and drones. As compared to the existing wireless technology, it will have higher data rates, reduced latency, higher capacity system, energy savings and cost reductions. It will bring new capabilities and create opportunities for society and business. <br><br>
The fifth-generation technology offers high bandwidth, many developed features and due to these parameters, it will have a huge demand in the future. Now-a-days various wireless and mobile technology networks are in use like fourth generation mobile networks, third generation mobile networks (UTMS which stands for Universal Mobile Telecommunication system, CDMA 2000), Long Term Evolution (LTE), Wi-Fi which is an IEEE 802.11 wireless network, WiMAX which is an IEEE 802.16 wireless network and mobile networks, sensor networks and personal area networks which includes Bluetooth and ZigBee. <br><br>
This new period of telecommunication is going to begin and surely changes everything related to the cellular industries. In the coming years, the 5G technology will be in use because of its advancement, affordable cost, and possess a bright future that will keep it safe for years. The mobile multimedia internet networks can be totally wireless without any limitations and make the networks as worldwide wireless web (WWWW).<br><br>
This fifth-generation is based on 4G technology as it is an advanced form of 4G and the internet networks are truly wireless which are supported by LAS-CDMA which stands for Large Area Synchronized-Code- Division Multiple Access, OFDM which stands for Orthogonal Frequency Division Multiplexing, MC-CDMA which stands for Multi-Carrier Code Division Multiple Access, UMB which stands for Ultra-wideband, Network-LMDS which stands for Local Multipoint Distribution Service and Ipv6.<br><br>
At the same time, 5G technology offers very large data capabilities, unlimited data broadcast with the mobile operating system. It makes a vital difference, gives more services and advantages to the world when compared to 4G. The people are not availing it as these are just theories but before the innovation of 4G it was also a theory and now it is in existence which proves that theories are the base of every innovation. So, it is an intelligently applied science and connects with the entire world without any limits, the expected release of this technology is around 2020.<br><br>

 
            <div class="promotion"><br><strong>Contributed By: Rudra S, Rushil S, Pankti C, Maitree P.</strong>
            </div>
        </p1>
    </div>

    <!-- <div id="main-content">
        <div>
          <input type="checkbox" id="checkbox" />
          <label for="checkbox">
            <svg id="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg">
              <g id="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
                <path d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z" id="heart" fill="#AAB8C2" />
                <circle id="main-circ" fill="#E2264D" opacity="0" cx="29.5" cy="29.5" r="1.5" />
      
                <g id="grp7" opacity="0" transform="translate(7 6)">
                  <circle id="oval1" fill="#9CD8C3" cx="2" cy="6" r="2" />
                  <circle id="oval2" fill="#8CE8C3" cx="5" cy="2" r="2" />
                </g>
      
                <g id="grp6" opacity="0" transform="translate(0 28)">
                  <circle id="oval1" fill="#CC8EF5" cx="2" cy="7" r="2" />
                  <circle id="oval2" fill="#91D2FA" cx="3" cy="2" r="2" />
                </g>
      
                <g id="grp3" opacity="0" transform="translate(52 28)">
                  <circle id="oval2" fill="#9CD8C3" cx="2" cy="7" r="2" />
                  <circle id="oval1" fill="#8CE8C3" cx="4" cy="2" r="2" />
                </g>
      
                <g id="grp2" opacity="0" transform="translate(44 6)">
                  <circle id="oval2" fill="#CC8EF5" cx="5" cy="6" r="2" />
                  <circle id="oval1" fill="#CC8EF5" cx="2" cy="2" r="2" />
                </g>
      
                <g id="grp5" opacity="0" transform="translate(14 50)">
                  <circle id="oval1" fill="#91D2FA" cx="6" cy="5" r="2" />
                  <circle id="oval2" fill="#91D2FA" cx="2" cy="2" r="2" />
                </g>
      
                <g id="grp4" opacity="0" transform="translate(35 50)">
                  <circle id="oval1" fill="#F48EA7" cx="6" cy="5" r="2" />
                  <circle id="oval2" fill="#F48EA7" cx="2" cy="2" r="2" />
                </g>
      
                <g id="grp1" opacity="0" transform="translate(24)">
                  <circle id="oval1" fill="#9FC7FA" cx="2.5" cy="3" r="2" />
                  <circle id="oval2" fill="#9FC7FA" cx="7.5" cy="2" r="2" />
                </g>
              </g>
            </svg>

          </label>
        </div>
      </div> -->

    <hr>
    <span class="wr-po">&#9997 <a href="review"> Write a Review </a></span>
    <hr>

    <div class="post-sharing">
        <span class="post-sharing__title">Share Article</span>
        <div class="post-sharing__icons">
            <a href="http://twitter.com/share?text=&amp;url=https://rudraspot.cf/b1"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="32" height="32"
                    class="icon icon--twitter">
                    <path
                        d="M44 11.7753c-1.393.5961-2.9851.9935-4.7761 1.1922 1.592-.9935 2.9851-2.5831 3.5821-4.5701-1.5921.9935-3.3831 1.5896-5.1742 1.987C36.2388 8.9935 34.0498 8 31.6617 8c-4.5771 0-8.1592 3.5766-8.1592 8.1467 0 .5961 0 1.1922.199 1.7883-6.7662-.1987-12.7363-3.5766-16.7164-8.3454-.796 1.1922-1.194 2.5831-1.194 3.974 0 2.7818 1.393 5.3649 3.582 6.7558-1.194 0-2.388-.3974-3.582-.9935v.1987c0 3.974 2.786 7.1532 6.5671 7.948-.597.1987-1.393.1987-2.189.1987-.597 0-.995 0-1.592-.1987.995 3.1793 3.98 5.5637 7.5621 5.5637-2.7861 2.1857-6.3682 3.5766-10.1492 3.5766-.597 0-1.393 0-1.9901-.1987 3.582 2.3844 7.9602 3.5766 12.5373 3.5766 15.1244.3974 23.4826-12.1208 23.4826-22.8506v-.9935c1.592-1.1922 2.7861-2.7818 3.9801-4.3714z"
                        fill="#1DA1F2"></path>
                </svg>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://rudraspot.cf/b1"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="32" height="32"
                    class="icon icon--facebook">
                    <path
                        d="M44 24c0-11.125-9-20-20-20S4 13 4 24c0 10 7.375 18.25 16.875 19.75V29.875H15.75V24h5.125v-4.375c0-5 3-7.75 7.5-7.75 2.25 0 4.5.375 4.5.375v4.875h-2.5c-2.5 0-3.25 1.5-3.25 3.125V24h5.5l-.875 5.75h-4.625v14C36.625 42.375 44 34 44 24z"
                        fill="#1778F2"></path>
                </svg>
            </a>
            <a href="https://www.linkedin.com/shareArticle?url=https://rudraspot.cf/b1"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="32" height="32"
                    class="icon icon--linkedin">
                    <path
                        d="M40.8847 4H6.9907C5.3707 4 4 5.25 4 6.875v34.25C4 42.75 5.3707 44 6.9906 44h34.0187C42.6293 44 44 42.75 44 41.125V6.875C43.8754 5.25 42.5047 4 40.8847 4zM15.838 38.125H9.8567V19h5.9813v19.125zm-2.9906-21.75c-1.8692 0-3.4891-1.5-3.4891-3.5 0-1.875 1.4953-3.5 3.4891-3.5 1.8691 0 3.489 1.5 3.489 3.5s-1.6199 3.5-3.489 3.5zm25.1713 21.75H32.162v-9.25c0-2.25 0-5-3.1153-5-3.1152 0-3.4891 2.375-3.4891 4.875v9.5h-5.8567V19h5.4829v2.625h.1246c.7477-1.5 2.7414-3.125 5.6075-3.125 5.9813 0 7.1028 4 7.1028 9.125v10.5z"
                        fill="#2867B2"></path>
                </svg>
            </a>
            <a href="mailto:?body=From%20Rudraspot%20https://rudraspot.cf/b1"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="32" height="32"
                    class="icon icon--email">
                    <path
                        d="M40 8H8c-2.24 0-4 1.76-4 4v24c0 2.24 1.76 4 4 4h32c2.24 0 4-1.76 4-4V12c0-2.24-1.76-4-4-4zm0 8l-16 9.92L8 16v-4l16 9.92L40 12v4z"
                        fill="#767676"></path>
                </svg>
            </a>
        </div> <!-- close .__icons -->
    </div>

    <!-- <div id="disqus_thread" class="discus"></div>    
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    var disqus_config = function () {
    this.page.url = 'https://rudraspot.cf/b1';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = 'b1'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://rudraspot-cf.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <p class="copyright">Copyright &copy; 2022 Brute Force </p>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="https://github.com/scienceLabwork"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
    </footer>


    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>
    <!-- <script id="dsq-count-scr" src="//rudraspot-cf.disqus.com/count.js" async></script> -->

    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>
    <script>
        var navOpenBtn = document.querySelector('.nav-open-btn');
        var navCloseBtn = document.querySelector('.nav__close');
        var nav = document.querySelector('.nav');
        var pageContent = document.querySelector('.page__content');
        var navList = document.querySelector('.nav__list');
        var page = document.querySelector('.page');

        //open nav
        navOpenBtn.addEventListener('click', function () {
            navOpenBtn.classList.add('js-hidden');

            nav.classList.add('js-opened');

            pageContent.classList.add('js-opened');
        });

        //close nav
        navCloseBtn.addEventListener('click', function () {
            navOpenBtn.classList.remove('js-hidden');

            nav.classList.remove('js-opened');

            pageContent.classList.remove('js-opened');
        });

        //closing navigation if click outside it
        page.addEventListener('click', function (e) {

            var evTarget = e.target;

            if ((evTarget !== nav) && (nav.classList.contains('js-opened')) && (evTarget !== navOpenBtn) && (
                    evTarget.parentNode !== navOpenBtn)) {
                console.log(navOpenBtn.firstChild);

                navOpenBtn.classList.remove('js-hidden');

                nav.classList.remove('js-opened');

                pageContent.classList.remove('js-opened');
            }

        });

        //DEMO CODE - !!!YOU DON'T NEED IT
        var demoBtns = document.querySelectorAll('.demo-btn');

        //adding default demo classes
        nav.classList.add('nav--offcanvas-1');
        pageContent.classList.add('page__content--offcanvas-1');

        //change demo on btn click
        demoBtns.forEach(function (el, ind) {

            el.addEventListener('click', function () {

                //add active class to active btn
                demoBtns.forEach(function (el) {
                    el.classList.remove('js-active');
                });

                this.classList.add('js-active');

                //add proper classes for effects
                var effClass = ind + 1;

                nav.classList.remove('js-opened');

                pageContent.classList.remove('js-opened');

                navCloseBtn.classList.remove('js-opened');

                navList.classList.remove('js-opened');

                navOpenBtn.classList.remove('js-hidden');

                nav.classList.remove(nav.classList[1]);

                nav.classList.add('nav--offcanvas-' + effClass);

                pageContent.classList.remove(pageContent.classList[1]);

                pageContent.classList.add('page__content--offcanvas-' + effClass);

            });

        });
    </script>
        <script>

            $(window).load(function () {
              $(".blog5").click(function () {
                $(this).find(".description").stop().animate({},
                  window.open("b5", "_self"),
                  300
                );
              });
            });
        
            $(window).load(function () {
              $(".blog4").click(function () {
                $(this).find(".description").stop().animate({},
                  window.open("b4", "_self"),
                  300
                );
              });
            });
        
            $(window).load(function () {
              $(".blog3").click(function () {
                $(this).find(".description").stop().animate({},
                  window.open("b3", "_self"),
                  300
                );
              });
            });
            </script>
</body>

</html>